<div class="main-header-backgroud">
  <div class="jumbotron reset-padding main-header-alpha">
    <div class="main-header-nav-spacer"></div>
    <div class="vcenter-parent">
      <div class="container vcenter-child">
        <div class="text-center main-header-text">
          <img src="assets/MinimalLogoWeb.png" width="160px" height="160px">
          <img src="assets/PrototypeLogoWhite.png" height="200px">
          <h5 class="main-header-text-accent">Evergreen Valley High School Robotics</h5>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
