<div class="container">


  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="row card-row">
        <div class="col-md-12">
          <div class="mdl-card mdl-shadow--4dp card-full-width card-height-resize">
            <div class="mdl-card__supporting-text card-full-width card-text-black">
              <h4>Content formatting:</h4>
              <br>
              Sections are denoted by <code>&lt;section_type&gt;[:]&lt;content_goes_here&gt;[!] </code><br>
              Example: <code>p[:]Hello World![!]</code><br>
              <h5>Types:</h5>
              <ul>
                <li>    <code>p</code> [:] paragraph, input text as content</li>
                <li>  <code>img</code> [:] image, input url as content</li>
                <li><code>video</code> [:] !WARNING in development; do not use</li>
              </ul>

              <h2>NOTICE</h2>
              <br>
              Accuracy is critical in the formatting of the fields of the form below. <br>Contact the PR department if you have any concerns.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <form class="form-inline">
    <div class="form-group">
      <label for="addon-blogpageid">PageID</span>
      <input ng-model="blogeditor.blogpageid" type="text" class="form-control" placeholder="PAGE ID" id="addon-blogpageid">
    </div>
    <button type="button" class="btn btn-primary" ng-click="blogeditor.setPage(blogeditor.blogpageid)">Select PageID</button>
    <div class="form-group">
      <label for="addon-blogyear">Year</span>
      <input ng-model="blogeditor.blogyear" type="text" class="form-control" placeholder="YEAR" id="addon-blogyear">
    </div>
    <button type="button" class="btn btn-primary" ng-click="blogeditor.setYear(blogeditor.blogyear)">Select Year</button>
  </form>


  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="row card-row">
        <div class="col-md-12">
          <div class="mdl-card mdl-shadow--4dp card-full-width card-height-resize">
            <div class="mdl-card__supporting-text card-full-width card-text-black">
                <button type="button" class="btn btn-primary" ng-click="blogeditor.login()">Login</button> <button type="button" class="btn btn-danger" ng-click="blogeditor.logout()">Logout</button>

                <h4>Auth User ID | <code>{{blogeditor.authuid}}</code></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <form class="form-inline">
    <div class="form-group">
      <label for="addon-blogid">Id (4 digit)</label>
      <input ng-model="blogeditor.blogid" type="text" class="form-control" placeholder="IDID" id="addon-blogid">
    </div>
    <div class="form-group">
      <label for="addon-blogdate">Date (YYYY-MM-DD)</label>
      <input ng-model="blogeditor.blogdate" type="text" class="form-control" placeholder="YYYY-MM-DD" id="addon-blogdate">
    </div>
    <div class="form-group">
      <label for="addon-blogtitle">Title</label>
      <input ng-model="blogeditor.blogtitle" type="text" class="form-control" placeholder="catchphrase" id="addon-blogtitle">
    </div>
    <button type="button" class="btn btn-primary" ng-click="blogeditor.post(blogeditor.blogid, blogeditor.blogyearsaved, blogeditor.blogdate, blogeditor.blogtitle, blogeditor.blogcontent)">Post</button>
  </form>
  <div class="form-group">
    <label for="addon-blogcontent">Content</label>
    <textarea ng-model="blogeditor.blogcontent" class="form-control" rows="6" placeholder="what happened today?" id="addon-blogcontent"></textarea>
  </div>
  <div class="alert alert-success" role="alert" ng-show="blogeditor.postSuccess">Post submitted</div>


  <ul class="list-group">
    <li class="list-group-item" ng-repeat="post in blogeditor.postListArrayIter | orderBy: 'id'">
      <button type="button" class="btn btn-danger" ng-click="blogeditor.delete(post)">X</button>  {{post.title}} | {{post.date}} | {{post.id}}
    </li>
  </ul>


</div>
