<div class = "container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="row card-row">
        <div class="col-md-12">
          <div class="mdl-card mdl-shadow--4dp card-full-width card-height-resize">
            <div class="mdl-card__supporting-text card-full-width card-text-black">
                <button type="button" class="btn btn-primary" ng-click="blogeditor.login()">Login</button> <button type="button" class="btn btn-danger" ng-click="blogeditor.logout()">Logout</button>

                <h4>Auth User ID | <code>{{blogeditor.authuid}}</code></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="addon-blogyear">year</span>
    <input ng-model="blogeditor.blogyear" type="text" class="form-control" placeholder="YEAR" aria-describedby="addon-blogyear">
  </div>
  <button type="button" class="btn btn-primary" ng-click="blogeditor.setYear(blogeditor.blogyear)">Post</button>

<ul>
  <li ng-repeat="post in blogeditor.postListArrayIter">{{post}}</li>
</ul>

  <div class="input-group">
    <span class="input-group-addon" id="addon-blogid">id (4 digit)</span>
    <input ng-model="blogeditor.blogid" type="text" class="form-control" placeholder="IDID" aria-describedby="addon-blogid">
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="addon-blogdate">Date (YYYY-MM-DD)</span>
    <input ng-model="blogeditor.blogdate" type="text" class="form-control" placeholder="YYYY-MM-DD" aria-describedby="addon-blogdate">
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="addon-blogtitle">Title</span>
    <input ng-model="blogeditor.blogtitle" type="text" class="form-control" placeholder="catchphrase" aria-describedby="addon-blogtitle">
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="addon-blogcontent">content</span>
    <input ng-model="blogeditor.blogcontent" type="text" class="form-control" placeholder="what happened today?" aria-describedby="addon-blogcontent">
  </div>
  <button type="button" class="btn btn-primary" ng-click="blogeditor.post(blogeditor.blogid, blogeditor.blogyearsaved, blogeditor.blogdate, blogeditor.blogtitle, blogeditor.blogcontent)">Post</button>
  <div class="alert alert-success" role="alert" ng-show="blogeditor.postSuccess">Post submitted</div>
</div>
